.headerPage{
    position: relative;
    border-bottom: 1px solid #cccccc63;

    .headerPage__news{
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        color: #fff;
        background-color: var(--main-color);
        padding: 5px 0;
        font-weight: 400;
    }

    .headerPage__select{
        height: 60px;
        .header__container{
            display: flex;
            justify-content: space-between;
            margin-top: 6px;
        }

        .logo{
            width: 25%;
            display: flex;
            cursor: pointer;

            p{
                color: #FF004D;
                font-size: 40px;
                font-weight: bold;
            }

            span{
                color: #fc7da1;
                font-size: 20px;
                font-weight: 450;
                position: relative;
                top: 18px;
                left: 3px;
            }
        }

        .logo:hover{
            p{
                color: #fc4a7c;
                
            }

            span{
                color: #fc6590;
            }
        }

        .search{
            border: 1px solid rgb(173, 164, 183);
            width: 50%;
            height: 40px;
            display: flex;
            margin-top: 5px;

            input{
                width: 100%;
                border: none;
                padding: 0 5px;
            }

            .search-icon{
                background-color: var(--main-color);
                color: #fff;
                position: relative;
                padding: 8px 15px;
                cursor: pointer;
            }

            .search-icon:hover{
                background-color: var(--hover-color);
            }
        }

        .acc__cart{
            cursor: pointer;
            display: flex;
            width: 25%;
            justify-content: space-evenly;
            position: relative;
            top: 13px;    
            right: -10px;  
            color: #474444;

            .account{
                .acc__items{
                    display: flex;

                    p{
                        position: relative;
                        top: 5px;
                        margin-left: 5px;
                    }
    
                    .acc__icon{
                        font-size: 30px;
                    }

                    .acc-hover{
                        border: 1px solid #cccccc5d;
                        border-radius: 5px;
                        height: 130px ;
                        width: 50%;
                        position: absolute;
                        top: 40px;
                        background-color: var(--white-color);
                        display: none;

    
    
                        li{
                            font-size: 16px;
                            color: #333;
                            display: block;
                            width: 100%;

                            a{
                                width: 100%;
                                display: block;
                                padding: 10px 5px;
                                color: #333;
                            }

                            a:hover{
                                color: var(--hover-color);
                                text-decoration: underline;
                            }
                        }

                        .btn-login{
                            position: relative;
                            top: 20px ;
                            right: -50px;
                            background-color: var(--main-color);
                            color: var(--white-color);
                            padding: 5px;
                            border-radius: 5px;
                        }

                        .btn-login:hover{
                            background-color: var(--hover-color);
                        }
                    }

                    .acc-hover::before{
                        content: "";
                        display: block;
                        position: absolute;
                        top: -10px;
                        left: 5px;
                        z-index: 1;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid #ccc;
                        
                    }

                    .acc-hover::after{
                        content: "";
                        display: block;
                        position: absolute;
                        top: -15px;
                        z-index: 1;
                        border-bottom: 20px solid transparent;
                        width: 100%;
                        
                    }

                }


                .acc__items:hover > .acc-hover{
                    display: block;
                }

            }

            .account:hover{
                color: #828282;
            }

            .cart{
                display: flex;
                
                p{
                    position: relative;
                    top: 5px;
                    margin-left: 5px;
                }

                .cart__icon{
                    font-size: 30px;
                }

                .cart__number{
                    position: relative;
                    padding: 2px 5px 2px 5px;
                    height: 15px;
                    border-radius: 10px;
                    background-color: var(--logo-color);
                    color: var(--white-color);
                    font-weight: bold;
                    font-size: 12px;
                    right: -35px;
                    top: -5px;
                }
            }

            .cart:hover{
                color: #828282;
            }
        }

    }

    .headerPage__menu{
        height: 35px;
        z-index: 3;
        font-weight: 500;

        .menu__list{
            display: flex;
            text-transform: uppercase;
            line-height: 30px;
            justify-content: space-evenly;

            a{
                color: var(--main-color);
            }

            .menu__items:hover > a{
                color: var(--hover-color);
            }
        }

        
    }

}