.admin-detail-user{
    margin: 0 auto;
    .container{

        .main{
            
            height: 100vh;

            
            form{
                
                p{
                    margin: 20px 0;
                }

                .code__name{
                    display: flex;
                    justify-content: space-between;

                    .code{
                        width: 48%;
                        
                    }

                    .name{
                        width: 48%;
                    }
                }

                .price{
                    display: flex;
                    justify-content: space-between;

                    .oldPrice{
                        width: 48%;
                    }

                    .newPrice{
                        width: 48%;
                    }
                }

                .img{
                    display: flex;
                    justify-content: space-between;

                    .img1, .img2, .img3{
                        width: 30%;
                    }
                }

                .status__discount__rate{
                    display: flex;
                    justify-content: space-between;

                    .status, .discount, .rate{
                        width: 30%;
                    }
                }
            }

            .button{
                display: flex;
                justify-content: space-around;
                margin-top: 20px;

                button{
                    padding: 10px 50px;
                    border-radius: 15px;
                    font-weight: bold;
                    font-size: 16px;
                    cursor: pointer;

                }
                
                a{
                    position: relative;
                    line-height: 50px;
                    padding: 0 50px;
                    border-radius: 15px;
                    display: block;
                    color: #ffff;
                }

                .btn3{
                    background-color: var(--main-color);

               }

                // button:hover{
                //     background-color: rgb(6, 206, 6);
                // }

                // .btn2{
                //     background-color: var(--main-color) ;
                // }

                
            }
        }

  
    }
}